.principalForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 2em;
    border-radius: 1.5em;
    max-width: 350px;
    width: 350px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn.btn-primary {
    background: #87CEEB !important;
    color: black;
    border: 1px solid #87CEEB;
    cursor: pointer;
}

.btn.btn-primary:hover {
    background: #87CEEB !important;
    color: black;
    border: 1px solid #87CEEB;
    cursor: pointer; 
}

.table {
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* body {
    background: url(../../Front/); */