MascotaFeliz.App/MascotaFeliz.App.consola/bin
MascotaFeliz.App/MascotaFeliz.App.consola/obj


MascotaFeliz.App/MascotaFeliz.App.Dominio/bin
MascotaFeliz.App/MascotaFeliz.App.Dominio/obj


MascotaFeliz.App/MascotaFeliz.App.Frontend/bin
MascotaFeliz.App/MascotaFeliz.App.Frontend/obj


MascotaFeliz.App/MascotaFeliz.App.Persistencia/bin
MascotaFeliz.App/MascotaFeliz.App.Persistencia/obj


MascotaFeliz.App/MascotaFeliz.App.Servicios/bin
MascotaFeliz.App/MascotaFeliz.App.Servicios/obj
