MascotaFeliz.App/MascotaFeliz.App.consola/bin
MascotaFeliz.App/MascotaFeliz.App.consola/obj
MascotaFeliz.App/MascotaFeliz.App.consola/MascotaFeliz.App.Consola.csproj

MascotaFeliz.App/MascotaFeliz.App.Dominio/bin
MascotaFeliz.App/MascotaFeliz.App.Dominio/obj
MascotaFeliz.App/MascotaFeliz.App.Dominio/MascotaFeliz.App.Dominio.csproj

MascotaFeliz.App/MascotaFeliz.App.Frontend/bin
MascotaFeliz.App/MascotaFeliz.App.Frontend/obj
MascotaFeliz.App/MascotaFeliz.App.Frontend/MascotaFaeliz.App.Frontend.csproj

MascotaFeliz.App/MascotaFeliz.App.Persistencia/bin
MascotaFeliz.App/MascotaFeliz.App.Persistencia/obj
MascotaFeliz.App/MascotaFeliz.App.Persistencia/MascotaFeliz.App.Persistencia.csproj

MascotaFeliz.App/MascotaFeliz.App.Servicios/bin
MascotaFeliz.App/MascotaFeliz.App.Servicios/obj
MascotaFeliz.App/MascotaFeliz.App.Servicios/MascotaFeliz.App.Servicios.csproj