@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>

    <section class="main">

        <figure class="main__figure">
            <img src="./img/fondo.png" class="main__img">
        </figure>

        <div class="main__contact">
            <div align="center"><img src="./img/logo.jpeg" class="main__title" width="200px" ></div>
            
          

            <form class="main__form">

                <input type="text" placeholder="Enter a username" class="main__input">

                <input type="password" placeholder="Password" class="main__input">

                <input type="submit" value="Sign In" class="main__input main__input--send">

            </form>
 
        </div>

    </section>

</body>